$size-1: 8px;
$size-2: 10px;
$size-3: 12px;
$size-4: 18px;
$size-5: 24px;
$size-6: 48px;

.p-6 {
    padding: $size-6 $size-6 $size-6 $size-6;
}

.p-5 {
    padding: $size-5 $size-5 $size-5 $size-5;
}

.p-4 {
    padding: $size-4 $size-4 $size-4 $size-4;
}

.p-3 {
    padding: $size-3 $size-3 $size-3 $size-3;
}

.p-2 {
    padding: $size-2 $size-2 $size-2 $size-2;
}

.p-1 {
    padding: $size-1 $size-1  $size-1 $size-1;
}
